:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: sepulture;
  src: url(./assets/fonts/Sepulture.ttf);
}

.neue-montreal {
  font-family: Neue Montreal;
}

.sepulture {
  font-family: sepulture;
}
