:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: sepulture;
  src: url(./assets/fonts/Sepulture.ttf);
}
@font-face {
  font-family: Neue-Med;
  src: url(./assets/fonts/NeueMontreal-Medium.otf);
}

@font-face {
  font-family: Neue-Reg;
  src: url(./assets/fonts/NeueMontreal-Regular.otf);
}

@font-face {
  font-family: Libre Baskerville;
  src: url(./assets/fonts/LibreBaskerville-Italic.ttf);
}

.neue-med {
  font-family: Neue-Med;
}

.neue-reg {
  font-family: Neue-Reg;
}

.sepulture {
  font-family: sepulture;
}

.italic {
  font-family: Libre Baskerville;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #1b1b1b;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #1b1b1b;
}
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
